[package]
name = "todo"
version = "0.1.0"
edition = "2021"

[dependencies]
chrono = { workspace = true }
async-trait = { workspace = true }
uuid = { workspace = true }

[dev-dependencies]
tokio = { version = "1.0", features = ["rt", "macros"] }

